PropertyList-1.0.dtd

<!ENTITY % plistObject "(array | data | date | dict | real | integer | string | true | false )" >
<!ELEMENT plist %plistObject;> <!-- The root element of a plist document.  It must contain at least one plist object. -->
<!ATTLIST plist version CDATA "1.0" > <!-- The version of the plist format.  This is always "1.0" for this DTD. -->

<!ELEMENT array (%plistObject;)*> <!-- Contents can be empty, or contain any number of plist objects. -->
<!ELEMENT dict (key, %plistObject;)*> <!-- Contents must contain an even number of plist objects, with the first of each pair being a key and the second being a value.  The keys must be unique within the dict. -->
<!ELEMENT key (#PCDATA)> <!-- Contents should be a string, and must be unique within the dict.  The key is used to look up the value in the dict. -->

<!ELEMENT string (#PCDATA)> <!-- Contents can use entities &#xxxx; for special Unicode values. -->
<!ELEMENT data (#PCDATA)> <!-- Contents interpreted as Base-64 encoded -->
<!ELEMENT date (#PCDATA)> <!-- Contents should conform to a subset of ISO 8601 (in particular, YYYY '-' MM '-' DD 'T' HH ':' MM ':' SS 'Z'.  Smaller units may be omitted with a loss of precision) -->

<!ELEMENT true EMPTY>  <!-- Boolean constant true -->
<!ELEMENT false EMPTY> <!-- Boolean constant false -->
<!ELEMENT real (#PCDATA)> <!-- Contents should represent a floating point number matching ("+" | "-")? d+ ("."d*)? ("E" ("+" | "-") d+)? where d is a digit 0-9.  -->
<!ELEMENT integer (#PCDATA)> <!-- Contents should represent a (possibly signed) integer number in base 10 -->
